.rbc-event-label{
    display: none !important;
    background-color: white !important;
}

.rbc-event.rbc-selected{
    background-color:white !important;
    padding: 0 !important;
    border: 0 !important;
}

.rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event{
    background-color: white !important;
        padding: 0 !important;
            border: 0 !important;
}
.rbc-time-view .rbc-row{
min-height: 0 !important;
}
.rbc-event{
    background-color: white !important;
    border: 0 !important;
    padding: 0 !important;
}
.rbc-timeslot-group{
    min-height: 60px !important;
}